name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build
        run: |
          mkdir output
          echo "RAHL-XMD APK READY" > output/RAHL-XMD.txt

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: RAHL-XMD-APK
          path: output/
