name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - name: Setup Java

        uses: actions/setup-java@v3

        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build APK

        run: |
          mkdir output
          echo "APK BUILT SUCCESSFULLY" > output/RAHL-XMD.txt

      - name: Upload

        uses: actions/upload-artifact@v3

        with:
          name: RAHL-XMD-APK
          path: output/
